$body-dark: #3d3d3d;
$body-gray: #848484;

$main-background: #f9f9f9;
$secondary-background: #efefef;

$highlighter-app: #43dd90;
$highlighter-positive: #71e4aa;
$highlighter-neutral: #d5d5d5;

$track-1-color: #30cbef;
$track-2-color: #f44a6e;
$track-3-color: #ef6f18;

$main-shadow: 1px 2px 0px rgba(0,0,0,0.1);
$dash: 2px solid rgba(0,0,0,0.05);

body {
    background-color: #fff; 
    font-family: 'PT Sans', 'Arial', 'Helvetica' sans-serif;
}

/* NAVBAR */

.navbar-default {

    background-color: $main-background;


    & .navbar-nav {

        background-color: #fff;

        & li > a {
            color: $body-dark;
            font-size: 1.25em;
            font-weight: bold;
            display: block;
            padding: 15px 0 15px;
        }

        & li {
            background-color: $main-background;
            border-bottom: $dash;
            margin-bottom: 1px;

            & .icon-holder {
                background-color: $highlighter-positive;
                color: #fff;
                text-align: center;
                padding: 15px 0;
                line-height: 20px;
                float: left;
                width: 40px;
                margin-right: 10px;
            }
        }

        &:hover,
        &:focus {
            color: $body-dark;
        }
    }

    & .navbar-toggle {

        margin: 5px 10px;
        border: none;

        &:hover,
        &:focus { 
            background-color: $highlighter-app;
            color: #fff;
            & .icon-bar {
                background-color: #fff;
                box-shadow: $main-shadow;
            }

            & .menu-title {
                text-shadow: $main-shadow;
            }
        }

        & .icon-bar {
            height: 4px;
            border-radius: 2px;
            background-color: $body-dark;
        }

        & .icon-bar + .icon-bar {
            margin-top: 3px;
        }
    }
}

.panel-body {
    padding: 0;
}

/* AGENDA LIST-ITEMS */

.list-group-item.track-1 {

    & .track-marker {
        background-color: $track-1-color;
    }

    & h3.list-group-track {
        color: $track-1-color;
    }

}

.list-group-item {
    margin: 3px 0 0 0;
    padding: 10px;
    border-radius: 0;
    color: $body-dark;
    background-color: $main-background;
    min-height: 110px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: $dash;

    &:first-child {
        border-radius: 0;
        margin-top: 13px;
    }

    & .track-marker {
        min-height: 110px;
        width: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: -2px;
        border-bottom: $dash;
    }

    & h5.list-group-speaker { 
        position: relative;
        margin: 0;
        font-size: 1em;
    }

    & h4.list-group-item-heading {
        font-weight: bold;
        font-size: 1.25em;
        min-height: 65px;
    }

    & h4.list-group-item-heading,
    & h5.list-group-speaker { 
        color: $body-dark;
        width: 65%;
        display: inline-block;
    }

    & h3.list-group-track {
        float: right;
        display: inline-block;
        font-size: 1.35em;
        margin: 0;
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-weight: bold;
    }

    .add-session {
        width: 35px;
        height: 35px;
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 10px;
        text-align: center;

        &.not-added {
            background-color: $highlighter-neutral;
        }

        &.session-added {
            background-color: $highlighter-positive;
        }

        & .fa {
            color: #fff;
            font-size: 1.5em;
            line-height: 35px;
        }
    }


}


.menu-title {
    float: left;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.icon-bar-wrap {
    display: inline-block;
    float: left;
}

.navbar-brand {
    padding: 10px;
    height: 45px;
    font-size: 20px;
    line-height: 28px;
}

.panel {
    border: 0;
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}


.session-name {
    margin-top: 0;
}

.content {
    padding: 20px;
}

.login {
    padding-right: 30px;
}

.fa.fa-twitter {
    color:#00A7E7;
}

.fa.fa-facebook-square {
    color:#3662A0;
}

.fa.fa-google-plus-square {
    color: #D74634;
}


@media(min-width:768px) {

    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }

    .side-nav {
        position: fixed;
        top: 51px;
        background-color: #FFF;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #f8f8f8 !important;
    }
}