$body-dark: #3d3d3d;
$body-gray: #848484;

$main-background: #ECECEC;
$secondary-background: #efefef;

$highlighter-app: #3482a9;
$highlighter-positive: #8cc542;
$highlighter-neutral: #d2d2d2;
$highlighter-dark: #3482a9;

$track-1-color: #30cbef;
$track-2-color: #f44a6e;
$track-3-color: #43dd90;

$main-shadow: 1px 2px 0px rgba(0,0,0,0.1);
$dash: 2px solid rgba(0,0,0,0.12);

$main-fonts: 'PT Sans', 'Arial', 'Helvetica' sans-serif;

body {
    background-color: $main-background;
    font-family: $main-fonts;
    padding-top: 60px;
}

/* NAVBAR */

.navbar-fixed-top .navbar-collapse {
    height: auto;
    max-height: none;
}


.navbar-default {

    border: none;

    & .navbar-collapse {
        border: none;
        box-shadow: none;

        /* outer-content fader */
        &.collapse.in:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.65);
            height: 1000px;
            transform-origin: top;
            transform: translateY(-1000px);
            transition: 0.25s;
            opacity: 0;
        }

        &.collapse.in:after {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    & .navbar-brand {
        color: #fff;
        padding: 10px;
        height: 35px;
        width: 145px;
        font-size: 1.25em;
        line-height: 28px;
        background-image: url('../images/main-logo.png');
        background-repeat: no-repeat;
        margin-top: 10px;
        &:hover,
        &:focus {
            color: #fff;
        }

        &:active .fa-home {
            top: -10px;
        }

        & .fa-home {
            float: right;
            color: $highlighter-positive;
            position: relative;
            left: -7px;
            top: -3px;
            transition: 0.5s;
        }
    }

    & .navbar-header {
        background-image: url('../images/header-bg.png');
        border-bottom: $dash;
    }

    & .navbar-nav {

        margin: 0px -15px;
        background-color: $main-background;

        & li > a {
            color: $body-dark;
            font-size: 1.25em;
            font-weight: bold;
            display: block;
            padding: 15px 0 15px;

            & span {
                font-size: 0.825em;
                text-transform: uppercase;
                color: $body-dark;
                opacity: 0.7;
                float: right;
                padding-right: 10px;
            }
        }

        & .icon-holder.icon-holder.hands-on-agenda {
            background-color: darken($highlighter-app, 25%);
        }

        & .icon-holder.conference-day-agenda {
            background-color: darken($highlighter-app, 20%);
        }

        & .icon-holder.game-codes-holder {
            background-color: darken($highlighter-app, 15%);
        }

        & .icon-holder.achievements-holder {
            background-color: darken($highlighter-app, 10%);
        }

        & .icon-holder.challanges-holder {
            background-color: darken($highlighter-app, 5%);
        }

        & .icon-holder.partners-holder {
            background-color: darken($highlighter-app, 0%);
        }

        & li {
            background-color: #fff;
            border-bottom: $dash;
            margin-bottom: 3px;
            transition: 0.2s;

            &::first-child {
                margin-top: 3px;
            }

            &:active {
                transform: translateY(2px);
            }

            & .icon-holder {
                background-color: $highlighter-app;
                color: #fff;
                text-align: center;
                padding: 15px 0;
                line-height: 20px;
                float: left;
                width: 40px;
                margin-right: 10px;
                border-bottom: $dash;
                text-shadow: $main-shadow;
                font-size: 1.25em;
            }
        }

        &:hover,
        &:focus {
            color: #fff;
        }

        &.login {

            background-color: $highlighter-app;
            margin: 0px -15px 3px -15px;
            min-width: 280px;

            & li {
                display: inline-block;
                width: 17%;
                margin-right: -4px;
                text-align: center;
                border-bottom: none;
                margin-bottom: 0;

                & a {

                    width: 100%;
                    border-bottom: $dash;

                    & .fa {
                        color: #fff;
                    }

                    &.facebook-login {
                        background-color: #3b5998;
                    }

                    &.twitter-login {
                        background-color: #55acee;
                    }

                    &.gplus-login {
                        background-color: #dd4b39;
                    }

                    &.linkedin-login {
                        background-color: #0976b4;
                    }

                }
            }

            & .login-holder {
                width: 95px;
                text-align: center;
                font-size: 1.1em;
                font-weight: bold;
                background-color: $highlighter-app;
                color: #fff;
                text-shadow: $main-shadow;
                padding: 15px 0;
                line-height: 20px;
                float: left;
                border-bottom: $dash;
            }

            & .logged-holder {
                width: 100%;
                text-align: left;
                font-size: 1.1em;
                font-weight: bold;
                background-color: $highlighter-app;
                color: #fff;
                text-shadow: $main-shadow;
                padding: 15px 10px;
                line-height: 20px;
                float: left;
                border-bottom: $dash;

                & a[href="logout"] {
                    color: #fff;
                    float: right;
                    text-transform: uppercase;
                    font-size: 1em;
                }
            }
        }
    }

    & .navbar-toggle {

        padding: 9px;
        margin: 5px 10px;
        border: 2px solid rgba(255,255,255,0.8);
        color: #fff;
        transition: 0.3s;

        &:hover,
        &:focus {

            background-color: $highlighter-positive;
            color: #fff;
            border: 2px solid transparent;

            & .icon-bar {
                background-color: #fff;
                box-shadow: $main-shadow;
            }

            & .menu-title {
                text-shadow: $main-shadow;
            }
        }

        & .icon-bar {
            height: 4px;
            border-radius: 2px;
            background-color: #fff;
        }

        & .icon-bar + .icon-bar {
            margin-top: 3px;
        }
    }
}

.panel-body {
    background-color: $main-background;
}

/* AGENDA LIST-ITEMS */

.list-group-item.track-a {

    & .track-marker {
        background-color: $track-1-color;
    }

    & h3.list-group-track {
        color: $track-1-color;
    }
}

.list-group-item.track-b {

    & .track-marker {
        background-color: $track-2-color;
    }

    & h3.list-group-track {
        color: $track-2-color;
    }
}

.list-group-item.track-c {

    & .track-marker {
        background-color: $track-3-color;
    }

    & h3.list-group-track {
        color: $track-3-color;
    }
}

.list-group {
    background-color: $main-background;
    margin-left: -15px;
    margin-right: -15px;
}

/* base list styles for agenda */

/* list-group-item-holder nessessary due to headings */
.list-group-item {
    margin: 5px 0 0 0;
    padding: 0px;
    border-radius: 0;
    min-height: 110px;
    border: none;
    background: transparent;

    & .list-group-item-holder {
        margin: 5px 0 0 0;
        padding: 10px;
        border-radius: 0;
        color: $body-dark;
        background-color: #fff;
        min-height: 110px;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        border-left: none;
        border-right: none;
        border-bottom: $dash;
        transition: 0.2s;
        position: relative;

        &:active {
            transform: translateY(3px);
        }
    }

    &::first-child {
        border-radius: 0;
    }

    & a {
        display: inline-block;
        width: 70%;
    }

    & .track-marker {
        background-color: $highlighter-app;
        min-height: 110px;
        width: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: -2px;
        border-bottom: $dash;
    }

    & h5.list-group-speaker {
        position: relative;
        margin: 0;
        font-size: 1em;
    }

    & h4.list-group-item-heading {
        font-weight: bold;
        font-size: 1.25em;
        min-height: 65px;
        margin-bottom: 10px;
        text-transform: capitalize;
    }


    & h4.list-group-item-heading,
    & h5.list-group-speaker {
        color: $body-dark;
        width: 100%;
        display: inline-block;

    }

    & h3.list-group-track {
        float: right;
        display: inline-block;
        font-size: 1.35em;
        margin: 0;
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-weight: bold;
    }

    .add-session {
        width: 35px;
        height: 35px;
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 10px;
        text-align: center;

        &.not-added {
            background-color: $highlighter-neutral;
        }

        &.session-added {
            background-color: $highlighter-positive;
        }

        & .fa {
            color: #fff;
            font-size: 1.5em;
            line-height: 35px;
        }
    }

    /*list styles for comments */
    &.list-group-comment {

        min-height: 80px;

        &:nth-child(odd) {
            & .comment-marker {
                background-color: darken( $highlighter-neutral, 10% )
            }
        }

        & .list-group-item-holder {
            min-height: 80px;
        }

        & h4 {
            min-height: 30px;
            width: auto;
        }

        & .comment-marker {
            @extend .track-marker;
            min-height: 30px;
            background-color: $highlighter-neutral;
        }

        & .badge { 
            margin-right: 10px;
        }

        & .comment-like {
            float: right;
            display: inline-block;
            position: relative;
            bottom: 20px;
            right: 15px;
            color: $body-gray;
            font-weight: bold;
            opacity: 0.7;

            &.comment-like-liked {
                color: $highlighter-app;
                opacity: 1;
            }

            & .fa {
                font-size: 1.25em;
            }
        }

        & .list-group-item-text {
            max-width: 80%;
        }
    }

    /*list styles for ranking */
    &.list-group-ranking {

        min-height: 80px;

        & .list-group-item-holder {
            min-height: 80px;
        }

        & h4 {
            width: auto;
        }

        & .list-group-item-heading {

            min-height: 35px;

            & span {
                color: $body-gray;
            }
        }

        & .badge {
            float: right;
            margin-right: 10px;
        }

        .ranking-marker {
            @extend .track-marker;
            min-height: 80px;
            background-color: $highlighter-neutral;
        }

        &.list-group-me {

            margin-bottom: 0;

            & .ranking-marker {
                background-color: $highlighter-positive;
            }

            & a {
                width: 100%;
            }
        }

        & .fa {
            color: $body-gray;
            width: 100%;
            font-size: 1.25em;
        }

        &.leader {
            & .fa {

                color: $highlighter-positive;
                font-size: 2.25em;

                &:before {
                    content: '\f091';
                }
            }
        }

        & > a.list-group-item-holder {
          width: 100%;
        }

        &.rank3 .fa:after,
        &.rank2 .fa:after,
        &.rank1 .fa:after {
            margin-left: 10px;
            font-family: $main-fonts;
            font-size: 0.925em;
            font-weight: bold;
            text-transform: uppercase;
        }

        &.rank3 .fa:after {
            content: 'Platinum User';
        }

        &.rank2 .fa:after {
            content: 'Gold User';
        }

        &.rank1 .fa:after {
            content: 'Silver User';
        }
            

        &.rank3 .fa:before {
            content: '\f005 \f005 \f005';
        }

        &.rank2 .fa:before {
            content: '\f005 \f005';
        }

        &.rank1 .fa:before {
            content: '\f005';
        }
    }
}

.user-info-name { 

    background-color: #fff;
    padding: 10px;
    position: relative;
    border-bottom: $dash;
    margin-top: 10px;

    & .fa {
        font-size: 1.5em;
        color: rgba(0,0,0,0.4);
        display: inline-block;
        margin-right: 10px;
    }

    & h4 {
        font-size: 1.5em;
        font-weight: bold;
        color: $body-dark;
        display: inline-block;
    }

    & .user-marker {
        background-color: $highlighter-app;
        min-height: 50px;
        width: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: -2px;
        border-bottom: $dash;
    }
}


/* table styling */

.user-stats {

    font-size: 1.068em;

    tr, td {
        border: none!important;
    }

    td {
        padding: 2px 0px !important;
    }

    & td div {
        border-bottom: none;
        background-color: #fff;
        border-bottom: $dash;
    }

    & td .stats-name {
        padding: 15px 0px 15px 15px;
    }

    & td .stats-points {
        padding: 15px 15px 15px 0px;
    }

    & .stats-points {
        border-right: 10px solid $highlighter-neutral;
    }

    & tr:nth-child(odd) td .stats-points {
        border-right: 10px solid darken($highlighter-neutral, 10%);
    }

    & .stats-points.stats-head {
        border-right: 10px solid $highlighter-positive!important;
    }

    & .stats-head {
        font-weight: bold;
    }

    & .stats-total {
        background-color: $highlighter-positive;
        font-weight: bold;
        font-size: 1.25em;
        padding: 15px;
        color: #fff;
        text-shadow: $main-shadow;
        margin-bottom: 4px;
        border-bottom: $dash;
    }

}


/* list group headings */

.list-group-heading {
    background-color: $highlighter-app;
    color: #fff;
    text-align: center;
    text-shadow: $main-shadow;
    font-weight: bold;
    font-size: 1.25em;
    border-bottom: $dash;
    position: relative;
    padding: 10px;
    margin-top: 15px;
}

/* modal styling */

.modal {

    & .modal-dialog {

        max-width: 80%;
        margin: 30px auto;

        & .modal-content {
            border-radius: 0;
            border: none;
            background-color: $highlighter-app;
            color: #fff;
            font-size: 1.065em;
            box-shadow: none;
            text-shadow: $main-shadow;
        }

        & .modal-header,
        & .modal-footer {
            border: none;
            text-align: left;
        }

        & .modal-footer {

            background-color: lighten($highlighter-app, 5%);

            & .modal-title {
                margin-bottom: 5px;
            }
        }

        & .modal-body {
            padding-top: 0;
        }

        & .modal-title {
           font-weight: bold;
           font-size: 1.25em;
        }

        & .close {
            color: #fff;
            font-size: 35px;
            text-shadow: none;
            opacity: 0.95;
            margin-top: -5px;
            border: none;
            padding: 0;
        }

        & button {
            padding: 7px 11px;
            background: transparent;
            border-width: 2px;
            border-style: solid;
            border-radius: 7px;
            font-size: 1.068em;
            margin-right: 15px;
            font-weight: bolder;
            transition: 0.3s;
            border-color: #fff;

            &:focus {
                outline: none;
            }

            &:active {
                background-color: #fff;
                color: $highlighter-app;
            }
        }
    }

    /* social icons */

    & .login { /* (ul) */

        margin: 0;
        padding: 0;

        & li {

            display: inline-block;
            margin-right: 6px;
            text-align: center;
            border-bottom: none;
            margin-bottom: 0;
            padding: 15px 0px;

            & a {
                width: 100%;
                height: 100%;
                padding: 15px 17px;
                border-bottom: $dash;

                & .fa {
                    color: #fff;
                }

                &.facebook-login {
                    background-color: #3b5998;
                }

                &.twitter-login {
                    background-color: #55acee;
                }

                &.gplus-login {
                    background-color: #dd4b39;
                }

                &.linkedin-login {
                    background-color: #0976b4;
                }

            }
        }
    }
}

.modal-backdrop {

    background-color: #fff;

    &.in {
        opacity: 0.65;
    }
}


/* welcome screen */

#wellcomeModal {

    & .modal-dialog {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 0;
        max-width: 100%;
        max-height: 100%;

        & .modal-content {
            background-color: #fff;
        }

        & .modal-header {
            background-color: $highlighter-app;

            & p {
                margin: 10px 0px 15px 0px;
            }
        }

        & .modal-login-header {
            background-color: darken($highlighter-app, 10%);
            transition: 0.5s;
        }

        & .modal-body {

            text-align: center;
            padding-top: 10px;
            border-bottom: $dash;

            & img {
                max-width: 33%;
                display: inline-block;
            }

            h4 {
                font-weight: bolder;
                color: $highlighter-app;
                font-size: 1.25em;
                text-align: left;
                margin-top: 0px;
                margin-bottom: 0px;
                text-shadow: none;
            }
        }

        & button {
            padding: 7px 11px;
            background: transparent;
            border-width: 2px;
            border-style: solid;
            border-radius: 7px;
            font-size: 1.068em;
            margin-right: 15px;
            font-weight: bolder;
            transition: 0.3s;

            &:focus {
                outline: none;
            }
        }

        & .welcome-login {
            color: #fff;
            border-color: #fff;

            &:active,
            &:focus {
                background-color: #fff;
                color: $highlighter-app;
            }
        }

        & .welcome-dismiss {
            color: rgba(0,0,0,0.40);
            border-color: rgba(0,0,0,0.40);

            &:active {
                background-color: rgba(0,0,0,0.40);
                color: $highlighter-app;
            }
        }
    }
}
#wellcomeModal .modal-dialog .modal-body img[alt="sap"] {
    max-width: 33%;
}

#wellcomeModal .modal-dialog .modal-body img[alt="vmware"] {
    max-width: 33%;
}

#wellcomeModal .modal-dialog .modal-body img[alt="musala"] {
    max-width: 28%;
}
#wellcomeModal .modal-dialog .modal-body img[alt="experian"] {
    max-width: 40%;
}

#wellcomeModal .modal-dialog .modal-body img[alt="infragistics"] {
    max-width: 50%;
}

#wellcomeModal .modal-dialog .modal-body img[alt="skrill"] {
    max-width: 20%;
}

#wellcomeModal .modal-dialog .modal-body img[alt="axway"] {
    margin-left: 8px;
    max-width: 30%;
}

#wellcomeModal .modal-dialog .modal-body img[alt="orderdynamics"] {
    margin-left: 8px;
    max-width: 40%;
}

#wellcomeModal .modal-dialog .modal-body img[alt="paddypower"] {
    max-width: 35%;
}

#wellcomeModal .modal-dialog .modal-body img[alt="sbtech"] {
    max-width: 30%;
}

#wellcomeModal .modal-dialog .modal-body img[alt="luxsoft"] {
    max-width: 25%;
    margin-left: 10px;
}



/* input groups styling  */

.input-group {

    background-color: #fff;
    border-bottom: $dash;
    padding: 10px 20px 10px 10px;
    margin-top: 5px;
    width: 100%;

    /* input styling for commenting */
    &.input-group-comments {
        min-height: 80px;

        & .form-control {
            margin-bottom: 10px;
        }
    }

    /* input styling for search */
    &.input-group-search {
        margin-bottom: 5px;

        & .search-marker {
            width: 10px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: -2px;
            border-bottom: $dash;
            background-color: $highlighter-neutral;
        }

        & .input-group-addon {
            background-color: $highlighter-neutral;
            color: #fff;
            text-shadow: $main-shadow;
            border: none;
            border-radius: 0;
            top: 0px;
        }

        & .form-control {
            box-shadow: none;
        }

    }

    & .form-control {
        border-radius: 0;
        border: 1px solid #ccc;

        &:focus {
            box-shadow: none;
            border-color: $highlighter-positive;
        }
    }

    & .input-group-btn .btn {
        width: 100%;
        padding: 10px;
        color: #fff;
        border: none;
        border-bottom: $dash;
        background-color: $highlighter-positive;
        text-shadow: $main-shadow;
        font-size: 18px;
        font-weight: bold;
        transition: 0.3s;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    & .input-marker {
        min-height: 80px;
        width: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: -2px;
        border-bottom: $dash;
        background-color: $highlighter-app;
    }
}


/* comments panel-heading */
.panel-default > .panel-heading {
    background-color: $highlighter-app;
    color: #fff;
    text-align: center;
    border-bottom: $dash;
    margin-bottom: -15px;.
    z-index: 1800;
    position: relative;
    border-radius: 0;

    &.comments-title {
        background-color: $highlighter-app;
    }

    & h3 {
        text-shadow: $main-shadow;
        font-weight: bold;
        font-size: 1.25em;
    }

    &.panel-agenda {
        background-color: $highlighter-app;
        margin-top: -8px;
        padding: 0;

        & a {
            padding: 15px;
            display: inline-block;
            color: #fff;
            font-size: 1.25em;
            font-weight: bold;
            text-shadow: $main-shadow;
            text-decoration: none;

            & .fa {
                margin-right: 5px;
            }

            &.panel-link-active {
                background-color: rgba(0,0,0,0.15);
                text-decoration: none;
            }
        }
    }

    /* codes view things */

    &.codes-description {
        margin-top: -8px;
        margin-bottom: 0px;
        background-color: $highlighter-dark;
    }

}

.list-group-me-wrap {
    margin-bottom: 0px;
}


/* session logistics, start, duration, location */
.session-name {

    padding: 10px 10px 20px 10px;
    background-color: #fff;
    position: relative;

    & h4 {
        width: 75%;
        float: left;
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.5em;
        text-transform: capitalize;
        color: $body-dark;
    }

    .add-session {
        width: 35px;
        height: 35px;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 45px;
        text-align: center;
        transition: 0.25s;

        &:active {
            transform: scale(1.2);
        }

        &.not-added {
            background-color: $highlighter-neutral;
        }

        &.session-added {
            background-color: $highlighter-positive;
        }

        & .fa {
            color: #fff;
            font-size: 1.5em;
            line-height: 35px;
        }
    }

    & .session-description {

        position: relative;
        float: left;

        &.description-collapsed {

            & p {
                color: $body-dark;
                height: 1px;
                margin: 0;
                overflow: hidden;
                float: left;
                word-break: break-word;
                font-size: 1.25em;
            }

            & .session-expander:after {
                content: 'Show Info';
            }
        }

        &.description-expanded {

            & p {
                color: $body-dark;
                height: auto;
                margin: 0;
                padding: 10px 10px 10px 0px;
                word-break: break-word;
                float: left;
                word-break: break-word;
                font-size: 1.25em;
            }

            & .session-expander:after {

                content: 'Hide Info';
            }

            & .fa {
                transform: rotate(180deg);
            }
        }

        & .session-expander {

            color: rgba(0,0,0,0.6);
            text-shadow: none;
            font-size: 1em;
            font-weight: bold;
            position: absolute;
            bottom: -10px;
            right: 10px;

            & .fa {
                margin-right: 5px;
                font-weight: bold;
            }
        }
    }


    & .title-marker {
        background-color: $highlighter-app;
        min-height: 110px;
        width: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: -2px;
        border-bottom: $dash;
    }
}

.session-overall {
    background-color: lighten($highlighter-app, 10%);
    color: #fff;
    font-size: 1.25em;
    padding: 20px 10px 10px 10px;
    position: relative;
    text-shadow: $main-shadow;

    &:before {
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: lighten($highlighter-app, 10%);
        top: -7px;
        left: 35px;
        transform: rotate(45deg);
        transform-origin: center;
    }

    & ol:first-child {
        margin: 0;
        padding: 0;
        border-top: none;
    }

    & ol {
        list-style: none;
        font-weight: bold;
        margin: 10px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
        border-top: 1px dashed rgba(0,0,0,0.2);
        float: left;


        & li {
            float: left;
            padding-bottom: 20px; /* this is here due to multiple speaker scenario */
        }

        & .speaker-name {
            float: left;
            width: 50%;
        }


        & .fa-user {
            text-shadow: none;
            margin-right: 15px;
            color: rgba(0,0,0,0.35);
            float: left;
            font-size: 4em;
        }

        & .speaker-info {
            font-weight: normal;
            font-size: 0.825em;
            display: inline-block;
            float: left;
            width: 50%;
        }
    }

    /* description for speakers (bio)*/
    & .bio-description {

        position: relative;
        float: left;

        &.description-collapsed {

            & p {
                height: 1px;
                margin: 0;
                overflow: hidden;
                float: left;
                word-break: break-word;
            }

            & .session-expander:after {
                content: 'Show Bio';
            }
        }

        &.description-expanded {

            & p {
                height: auto;
                margin: 0;
                padding: 10px 10px 10px 0px;
                word-break: break-word;
                float: left;
                font-weight: normal;
            }

            & .session-expander:after {

                content: 'Hide Bio';
            }

            & .fa {
                transform: rotate(180deg);
            }
        }

        & .session-expander {

            font-size: 0.825em;
            font-weight: bold;
            position: absolute;
            bottom: -15px;
            right: 10px;
            color: rgba(0, 0, 0, 0.6);
            text-shadow: none;

            & .fa {
                margin-right: 5px;
                font-weight: bold;
            }
        }

    }

    & .title-marker {
        background-color: #highlighter-app;
        min-height: 110px;
        width: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: -2px;
        border-bottom: $dash;
    }
}


.header-title {

    border-bottom: $dash;
    background-color: $highlighter-app;
    margin-top: -21px;
    line-height: 50px;
    padding: 0 15px;
    position: relative;

    &.track-a {
        background-color: $track-1-color;
    }

    &.track-b {
        background-color: $track-2-color;
    }

    &.track-c {
        background-color: $track-3-color;
    }

    & h4 {
        float: right;
        margin-top: 12px;
        font-weight: bold;
        font-size: 1.5em;
        text-transform: capitalize;
        color: #fff;
        text-shadow: $main-shadow;
        display: inline-block;
    }

    & back-button {
        display: inline-block;
        color: #fff;
        text-shadow: $main-shadow;
    }

}


.session-logistics {

    border-bottom: $dash;
    background-color: $highlighter-app;

    &.track-a {
        background-color: $track-1-color;
    }

    &.track-b {
        background-color: $track-2-color;
    }

    &.track-c {
        background-color: $track-3-color;
    }

    & .session-start,
    & .session-duration,
    & .session-location {
        color: #fff;
        text-shadow: $main-shadow;
        text-align: center;
        font-weight: bold;
        line-height: 50px;
        float: left;
    }

    & .session-start {
        width: 42%;
        font-size: 1.5em;
    }

    & .session-location {
        width: 42%;
        font-size: 1.5em;
    }

    & .session-duration {
        width: 16%;
        background-color: rgba(0,0,0,0.15);
        text-transform: uppercase;
        padding: 11px;
        line-height: 1em;
    }

    & .fa {
        margin-right: 7px;
    }
}

.session-speaker {
    border-bottom: $dash;
}

.speaker-picture {
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.session-rating,
.session-speaker {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border-bottom: $dash;

    & .rate-title {
        display: inline-block;
        font-weight: bold;
        font-size: 1em;
        text-transform: uppercase;
        color: $body-dark;
        margin-bottom: 5px;
    }

    & .rate-stars {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        & li:first-child {
            margin-left: 0;
        }

        & .rate-star {
            display: inline-block;
            padding: 10px 15px;
            font-size: 1.25em;
            margin-left: 5px;
            transition: 0.25s;

            &:active {
                transform: scale(1.2);
            }

            &.yes-rated {
                background-color: $highlighter-positive;
                text-shadow: $main-shadow;
                color: #fff;
            }

            &.not-rated {
                background-color: $highlighter-neutral;
                color: $body-gray;
            }

        }
    }

    & .rating-marker {

    }
}


.achievements-list {

    text-align: center;
    background-color: #fff;
    border-bottom: $dash;
    margin-top: 20px;

    & .fa {
        font-size: 5em;
        margin: 20px 15px;
    }
}


.menu-title {
    float: left;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.icon-bar-wrap {
    display: inline-block;
    float: left;
}

.panel {
    border: 0;
    background-color: inherit;
    box-shadow: none;
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

.content {
    padding: 20px;
}



@media(min-width:768px) {

    body {
        overflow-y: scroll;
    }

    .navbar-default .navbar-header {
        width: 100%;
    }

    .navbar-default .navbar-collapse {
        width: 30%;
        float: left;
    }

    .navbar-default .navbar-nav.login {
        width: 280px;
        margin: 0;
        position: fixed;
        top: 60px;
    }

    .navbar-default .navbar-nav li > a,
    .navbar-default .navbar-nav.login .login-holder {
        padding: 13px 0px 12px 0px;
    }

    .navbar-default .navbar-nav li:active {
        transform: none;
        background: darken(#fff, 15%)!important;
    }

    .navbar-default .navbar-nav li:hover  {
        background: darken(#fff, 5%);
    }

    .login {
        padding-right: 10px;
    }

    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
        width: 80%;
    }

    .side-nav {
        position: fixed;
        top: 135px;
        background-color: #FFF;
        left: 15px;
        width: 280px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;

    }

    .side-nav > li > a {
        width: 275px;
    }


    .session-logistics .session-start,
    .session-logistics .session-location {
        line-height: 63px;
    }

    .session-logistics .session-duration {
        line-height: 41px;
        max-height: 63px;
    }

    .session-overall,
    .session-name {
        padding: 20px
    }

    .navbar-default .navbar-nav.side-nav li {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .list-group-item .list-group-item-holder {
        border-left: 1px solid rgba(0, 0, 0, 0.12);
    }

    .list-group-item a {
        width: 80%;
    }

    #wellcomeModal {

         & .modal-dialog {

            width: 100%;
                
            & .modal-body {
                text-align: left;
            }

         }

         & img {
            max-width: 13%!important; /* due to broken inception rule in regular css */
            margin-right: 25px!important; /* due to broken inception rule in regular css */
         }
    }
   

}

@media(min-width:1281px) {
    #page-wrapper {
        width: 65%;
    }
}
