$body-dark: #3d3d3d;
$body-gray: #848484;

$main-background: #ECECEC;
$secondary-background: #efefef;

$highlighter-app: #43dd90;
$highlighter-positive: #71e4aa;
$highlighter-neutral: #d2d2d2;
$highlighter-dark: #3CC677;

$track-1-color: #30cbef;
$track-2-color: #f44a6e;
$track-3-color: #ef6f18;

$ista-brand-1: #0099b1;

$main-shadow: 1px 2px 0px rgba(0,0,0,0.1);
$dash: 2px solid rgba(0,0,0,0.12);

body {
    background-color: $main-background; 
    font-family: 'PT Sans', 'Arial', 'Helvetica' sans-serif;
    padding-top: 60px;
}

/* NAVBAR */

.navbar-default {

    border: none;

    & .navbar-collapse {
        border: none;
        box-shadow: none;

        /* outer-content fader */
        &.collapse.in:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.65);
            height: 500px;
            transform-origin: top;
            transform: translateY(-1000px);
            transition: 0.25s;
            opacity: 0;
        }

        &.collapse.in:after {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    & .navbar-brand {
        color: #fff;
        padding: 10px;
        height: 45px;
        font-size: 1.25em;
        line-height: 28px;
        &:hover,
        &:focus {
            color: #fff;
        }
    }

    & .navbar-header {
        background-color: $ista-brand-1;
        border-bottom: $dash;
    }

    & .navbar-nav {

        margin: 0px -15px;
        background-color: $main-background;

        & li > a {
            color: $body-dark;
            font-size: 1.25em;
            font-weight: bold;
            display: block;
            padding: 15px 0 15px;

            & span {
                font-size: 0.825em;
                text-transform: uppercase;
                color: $body-dark;
                opacity: 0.7;
                float: right;
                padding-right: 10px;
            }
        }

        & .conference-day-agenda,
        & .hands-on-agenda {
            & .icon-holder {
                background-color: $ista-brand-1;
            }
        }

        & li {
            background-color: #fff;
            border-bottom: $dash;
            margin-bottom: 3px;
            transition: 0.2s;

            &::first-child {
                margin-top: 3px;
            }

            &:active {
                transform: translateY(2px);
            }

            & .icon-holder {
                background-color: $highlighter-app;
                color: #fff;
                text-align: center;
                padding: 15px 0;
                line-height: 20px;
                float: left;
                width: 40px;
                margin-right: 10px;
                border-bottom: $dash;
                text-shadow: $main-shadow;
                font-size: 1.25em;
            }
        }

        &:hover,
        &:focus {
            color: #fff;
        }

        &.login {
    
            background-color: $highlighter-app;
            margin: 0px -15px 3px -15px;
            min-width: 280px;

            & li {
                display: inline-block;
                width: 17%;
                margin-right: -4px;
                text-align: center;
                border-bottom: none;
                margin-bottom: 0;

                & a {

                    width: 100%;
                    border-bottom: $dash;

                    & .fa {
                        color: #fff;
                    }

                    &.facebook-login {
                        background-color: #3b5998;
                    }

                    &.twitter-login {
                        background-color: #55acee;
                    }

                    &.gplus-login {
                        background-color: #dd4b39;
                    }

                    &.linkedin-login {
                        background-color: #0976b4;
                    }                                        

                }
            }

            & .login-holder {
                width: 95px;
                text-align: center;
                font-size: 1.1em;
                font-weight: bold;
                background-color: $highlighter-app;
                color: #fff;
                text-shadow: $main-shadow;
                padding: 15px 0;
                line-height: 20px;
                float: left;
                border-bottom: $dash;
            }

            & .logged-holder {
                width: 100%;
                text-align: left;
                font-size: 1.1em;
                font-weight: bold;
                background-color: $highlighter-app;
                color: #fff;
                text-shadow: $main-shadow;
                padding: 15px 10px;
                line-height: 20px;
                float: left;
                border-bottom: $dash;

                & a[href="logout"] {
                    color: #fff;
                    float: right;
                    text-transform: uppercase;
                    font-size: 1em;
                }
            }
        }
    }



    & .navbar-toggle {
        
        padding: 9px;
        margin: 5px 10px;
        border: 1px solid rgba(255,255,255,0.3);
        color: #fff;

        &:hover,
        &:focus { 

            background-color: rgba(0,0,0,0.15);
            color: #fff;
            border: 1px solid transparent;

            & .icon-bar {
                background-color: #fff;
                box-shadow: $main-shadow;
            }

            & .menu-title {
                text-shadow: $main-shadow;
            }
        }

        & .icon-bar {
            height: 4px;
            border-radius: 2px;
            background-color: #fff;
        }

        & .icon-bar + .icon-bar {
            margin-top: 3px;
        }
    }
}

.panel-body {
    background-color: $main-background;
}

/* AGENDA LIST-ITEMS */

.list-group-item.track-a {

    & .track-marker {
        background-color: $track-1-color;
    }

    & h3.list-group-track {
        color: $track-1-color;
    }
}

.list-group-item.track-b {

    & .track-marker {
        background-color: $track-2-color;
    }

    & h3.list-group-track {
        color: $track-2-color;
    }
}

.list-group-item.track-c {

    & .track-marker {
        background-color: $track-3-color;
    }

    & h3.list-group-track {
        color: $track-3-color;
    }
}

.list-group {
    background-color: $main-background;
    margin-left: -15px;
    margin-right: -15px;
}

/* base list styles for agenda */
.list-group-item {
    margin: 5px 0 0 0;
    padding: 10px;
    border-radius: 0;
    color: $body-dark;
    background-color: #fff;
    min-height: 110px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: none;
    border-right: none;
    border-bottom: $dash;
    transition: 0.2s;

    &::first-child {
        border-radius: 0;
    }

    & a {
        display: inline-block;
        width: 67%; 
    }

    & .track-marker {
        background-color: $highlighter-app;
        min-height: 110px;
        width: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: -2px;
        border-bottom: $dash;
    }

    & h5.list-group-speaker {
        position: relative;
        margin: 0;
        font-size: 1em;
    }

    & h4.list-group-item-heading {
        font-weight: bold;
        font-size: 1.25em;
        min-height: 65px;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    & h4.list-group-item-heading,
    & h5.list-group-speaker { 
        color: $body-dark;
        width: 100%;
        display: inline-block;

    }

    & h3.list-group-track {
        float: right;
        display: inline-block;
        font-size: 1.35em;
        margin: 0;
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-weight: bold;
    }

    .add-session {
        width: 35px;
        height: 35px;
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 10px;
        text-align: center;

        &.not-added {
            background-color: $highlighter-neutral;
        }

        &.session-added {
            background-color: $highlighter-app;
        }

        & .fa {
            color: #fff;
            font-size: 1.5em;
            line-height: 35px;
        }
    }

    /*list styles for comments */
    &.list-group-comment {

        min-height: 80px; 

        & h4 {
            min-height: 30px;
            width: auto;
        }

        & .comment-marker {
            @extend .track-marker;
            min-height: 30px;
            background-color: $highlighter-neutral;
            /* TODO: nth-child(odd/even) ?*/
        }

        & .badge {
            margin-right: 10px;

        }

        & .comment-like {
            float: right;
            display: inline-block;
            position: relative;
            bottom: 20px;
            right: 15px;
            color: $body-gray;
            font-weight: bold;
            opacity: 0.7;

            &.comment-like-liked {
                color: $highlighter-app;
                opacity: 1;
            }

            & .fa {
                font-size: 1.25em;
            }
        }

        & .list-group-item-text {
            max-width: 80%;
        }
    }

    /*list styles for ranking */ 

    &.list-group-ranking {

        min-height: 80px;
        padding-right: 20px;

        & h4 {
            width: auto;
        }

        & .list-group-item-heading {

            min-height: 35px;

            & span {
                color: $body-gray;
            }
        }

        .ranking-marker {
            @extend .track-marker;
            min-height: 80px;
            background-color: $highlighter-neutral
        }

        &.list-group-me {

            margin-bottom: 0;

            & .ranking-marker {
                background-color: $highlighter-app;
            } 
        }

        & .fa {
            color: $highlighter-neutral;
            width: 100%;
            font-size: 1.25em;
        }

        &::nth-child(odd) {
            background-color: red!important;
        }
    }
}

/* list group headings */

.list-group-heading {
    background-color: $highlighter-app;
    color: #fff;
    text-align: center;
    text-shadow: $main-shadow;
    font-weight: bold;
    font-size: 1.25em;
    border-bottom: $dash;
    position: relative;
    padding: 10px;
    margin-top: 10px;
} 

/* input groups styling  */

.input-group {

    background-color: #fff;
    border-bottom: $dash;
    padding: 10px 20px 10px 10px;
    margin-top: 5px;
    width: 100%;

    /* input styling for commenting */
    &.input-group-comments {
        min-height: 80px;

        & .form-control {
            margin-bottom: 10px;
        }
    }

    /* input styling for search */
    &.input-group-search {
        margin-bottom: 5px;

        & .search-marker {
            width: 10px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: -2px;
            border-bottom: $dash;
            background-color: $highlighter-app;
        }

        & .input-group-addon {
            background-color: $highlighter-neutral;
            color: #fff;
            text-shadow: $main-shadow;
            border: none;
            border-radius: 0;
            top: 0px;
        }

        & .form-control {
            box-shadow: none;
        }

    }

    & .form-control {
        border-radius: 0;
        border: 1px solid #ccc;

        &:focus {
            box-shadow: none;
            border-color: $highlighter-positive;
        }
    }

    & .input-group-btn .btn {
        width: 100%;
        padding: 10px;
        color: #fff;
        border: none;
        border-bottom: $dash;
        background-color: $highlighter-app;
        text-shadow: $main-shadow;
        font-size: 18px;
    }

    & .input-marker {
        min-height: 80px;
        width: 10px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: -2px;
        border-bottom: $dash;
        background-color: $highlighter-app;
    }
}



/* comments panel-heading */
.panel-default > .panel-heading {
    background-color: $highlighter-app;
    color: #fff;
    text-align: center;
    border-bottom: $dash;
    margin-bottom: -15px;.
    z-index: 1800;
    position: relative;

    &.comments-title {
        background-color: $body-gray;
    }

    & h3 {
        text-shadow: $main-shadow;
        font-weight: bold;
        font-size: 1.25em;
    }

    &.panel-agenda {
        background-color: $highlighter-app;
        margin-top: -8px;
        padding: 0;

        & a {
            padding: 15px;
            display: inline-block;
            color: #fff;
            font-size: 1.25em;
            font-weight: bold;
            text-shadow: $main-shadow;

            & .fa {
                margin-right: 5px;
            }

            &.panel-link-active {
                background-color: rgba(0,0,0,0.15);
                text-decoration: none;
            }
        }
    }

    /* codes view things */

    &.codes-description {
        margin-top: -8px;
        margin-bottom: 0px;
        background-color: $highlighter-dark;
    }

}

.list-group-me-wrap {
    margin-bottom: -30px;
}


/* session logistics, start, duration, location */

.session-name {

    padding: 10px; 
    margin-top: -23px;
    background-color: $highlighter-dark;
    border-bottom: $dash;

    & h4 { 
        width: 75%;
        float: left;
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.5em;
        text-transform: capitalize;
        color: #fff;
        text-shadow: $main-shadow;
    }

    .add-session {
        width: 35px;
        height: 35px;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 45px;
        text-align: center;

        &.not-added {
            background-color: rgba(0,0,0,0.20);
        }

        &.session-added {
            background-color: #fff;
        }

        & .fa {
            color: $highlighter-dark;
            font-size: 1.5em;
            line-height: 35px;
        }
    }

    & .session-description {

        position: relative;
        float: left;

        &.description-collapsed {

            & p {
                color: #fff;
                height: 1px;
                margin: 0;
                overflow: hidden;
                float: left;
                word-break: break-word;
                font-size: 1.25em;
                text-shadow: $main-shadow;
            }

            & .session-expander:after {
                content: 'View Info';
            }
        }

        &.description-expanded {

            & p {
                color: #fff;
                height: auto;
                margin: 0;
                padding: 10px 0px;
                word-break: break-word;
                float: left;
                word-break: break-word;
                font-size: 1.25em;
                text-shadow: $main-shadow;
            }

            & .session-expander:after {

                content: 'Hide Info';
            }

            & .fa {
                transform: rotate(180deg);
            }
        }

        & .session-expander {

            color: #fff;
            text-shadow: $main-shadow;
            font-size: 1em;
            font-weight: bold;
            position: absolute;
            bottom: 5px;
            right: 5px;

            & .fa {
                margin-right: 5px;
            }
        }
    }
}

.session-overall {
    background-color: $highlighter-dark;
    color: #fff;
    font-size: 1.25em;
    text-shadow: $main-shadow;
    padding: 10px;
    border-bottom: $dash;

    & ol:first-child {
        margin: 0;
        padding: 0;
        border-top: none;
    }

    & ol {
        list-style: none;
        font-weight: bold;
        margin: 10px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
        border-top: 1px dashed rgba(0,0,0,0.2);
        float: left;


        & li {
            float: left;
        }

        & .speaker-name {
            float: left;
            width: 50%;
        }


        & .fa {
            text-shadow: none;
            margin-right: 10px;
            color: rgba(0,0,0,0.35);
            float: left;
            font-size: 4em;
        }

        & .speaker-info {
            font-weight: normal;
            font-size: 0.825em;
            display: inline-block;
            float: left;
            width: 50%;
        }
    }

    /* description for speakers (bio)*/
    & .bio-description {

        position: relative;
        float: left;

        &.description-collapsed {

            & p {
                height: 1px;
                margin: 0;
                overflow: hidden;
                float: left;
                word-break: break-word;
            }

            & .session-expander:after {
                content: 'View Bio';
            }
        }

        &.description-expanded {

            & p {
                height: auto;
                margin: 0;
                padding: 10px 0px;
                word-break: break-word;
                float: left;
            }

            & .session-expander:after {

                content: 'Hide Bio';
            }

            & .fa {
                transform: rotate(180deg);
            }
        }

        & .session-expander {

            font-size: 0.825em;
            font-weight: bold;
            position: absolute;
            bottom: 0px;
            right: 5px;

            & .fa {
                margin-right: 5px;
            }
        }

    }
}


.session-logistics {

    border-bottom: $dash;
    background-color: $highlighter-app;

    &.track-a {
        background-color: $track-1-color;
    }

    &.track-b {
        background-color: $track-2-color;
    }

    &.track-c {
        background-color: $track-3-color;
    }

    & .session-start,
    & .session-duration,
    & .session-location {
        color: #fff;
        text-shadow: $main-shadow;
        text-align: center;
        font-weight: bold;
        line-height: 50px;
        float: left;
    }

    & .session-start {
        width: 42%;
        font-size: 1.5em;
    }

    & .session-location {
        width: 42%;
        font-size: 1.5em;
    }

    & .session-duration {
        width: 16%;
        background-color: rgba(0,0,0,0.15);
        text-transform: uppercase;
        padding: 11px;
        line-height: 1em;
    }

    & .fa {
        margin-right: 7px;
    }
}


.session-rating {
    padding: 10px;
    background-color: #fff;
    text-align: center;

    & .rate-title {
        display: inline-block;
        font-weight: bold;
        font-size: 1em;
        text-transform: uppercase;
        color: $body-dark;
        margin-bottom: 5px;
    }

    & .rate-stars {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        & li:first-child {
            margin-left: 0;
        }

        & .rate-star {
            display: inline-block;
            padding: 10px 15px;
            font-size: 1.25em;
            margin-left: 5px;

            &.yes-rated {
                background-color: $highlighter-app;
                text-shadow: $main-shadow;
                color: #fff;
            }

            &.not-rated {
                background-color: $highlighter-neutral;
                color: $body-gray;
            }

        }
    }

    & .rating-marker {

    }
}




.menu-title {
    float: left;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.icon-bar-wrap {
    display: inline-block;
    float: left;
}

.panel {
    border: 0;
    background-color: inherit;
    box-shadow: none;
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

.content {
    padding: 20px;
}



@media(min-width:768px) {

    .login {
        padding-right: 30px;
    }

    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }

    .side-nav {
        position: fixed;
        top: 51px;
        background-color: #FFF;
        left: 15px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
    }

    .side-nav>li>a {
        width: 225px;
    }

}