<div class="panel panel-default">

	<div class="panel-heading codes-description">
		<h3 class="panel-title">{{tittle}} </h3>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="input-group input-group-lg" ng-show="goldAndUnlocked()">
				<p>Help to reach 200 t-shirts to enable additional donation ! Enter t-shirt code here<a href="#/ranking">here!</a></p>
				<h1>{{counter}} T-Shirts codes entered</h1>
			</div>
			<div class="input-group input-group-lg" ng-show="goldAndLocked()">
				<p>Go to the charity booth and find the code ! Enter the code <a href="#/ranking">here!</a></p>
			</div>

		</div>
	</div>
</div>