<div class="panel panel-default">

	<div class="panel-heading codes-description">
		<h3 class="panel-title">{{tittle}} </h3>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="input-group input-group-lg" ng-show="goldAndUnlocked()">
				{{description}}
				<h1>{{counter}}</h1>
			</div>
			<div class="input-group input-group-lg" ng-show="goldAndLocked()">
				<p>To unlock the challenge go to the Charirty booth, find the public code and enter it <a href="#/ranking">here</a></p>
			</div>

		</div>
	</div>
</div>