<div class="panel panel-default">
	<div class="panel-heading codes-description">
		<h3 class="panel-title">Submit feedback for the conference</h3>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="input-group input-group-lg">
				<h4>What did you liked about the conference?</h4>
				<textarea class="form-control" rows="3" ng-model="q1"></textarea>
				<h4>What can we improve next year?</h4>
				<textarea class="form-control" rows="3" ng-model="q2"></textarea>
			</div>
		</div>
		<div class="row">
			<button class="btn btn-default" type="button" ng-click="enterCode()">Submit feedback</button>
		</div>
	</div>
</div>