<div class="panel panel-default">
	<div class="panel-body">

		<div class="row header-title" ng-class="getTrackClass(session)">

			<back-button/>
			<h4>Top Session / Speakers</h4>

		</div>

		<div class="row user-stats session-stats">
		<table class="table table-condensed">
			<tr>
				<th><div class="stats-name stats-head">Position</div></th>
				<th><div class="stats-name stats-head">Session name</div></th>
				<th><div class="stats-points stats-head"> Average rating</div></th>
			</tr>
			<tr><div class="stats-total">Sessions</div></tr>
		 	<tr ng-repeat="session in sessions">
		 		<td><div class="stats-name">{{session.pos}}</div></td> 
		 		<td><div class="stats-name">{{session.name}}</div></td> 
		 		<td><div class="stats-points">{{session.rating}}</div></td>
		 	</tr>
			<tr><div class="stats-total">Speakers</div></tr>
		 	<tr ng-repeat="speaker in speakers">
		 		<td><div class="stats-name">{{speaker.pos}}</div></td> 
		 		<td><div class="stats-name">{{speaker.name}}</div></td> 
		 		<td><div class="stats-points">{{speaker.rating}}</div></td>
		 	</tr>
		</table>
	</div>
</div>
</div>